########
# demo config for Proxy mode
# 
global
        maxconn         ulimit-n
	ulimit-n	262143
        log             127.0.0.1 local0
        uid             200
        gid             200
        daemon
	chroot      /var/lib/haproxy
frontend test-proxy
	bind		*:8000
        mode            http
        log             global
        option          httplog
        option          dontlognull
        maxconn         8000
        timeout client  30s


	default_backend test-proxy-srv


backend test-proxy-srv
	mode            http
	timeout connect 5s
	timeout server  5s
	retries         2

